<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Configuração -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crm?useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.user">root</property>
		<property name="hibernate.connection.password"></property>

		<!-- Hibernate Configuração -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Mapeando as entidades -->
		<mapping class="br.com.crm.entity.Customer" />
		
	</session-factory>
</hibernate-configuration>